<section id="about">
  <div class="container aboutTheGame-wrapper">
    <h2 class="about-Title">ABOUT THE GAME</h2>
    <picture>
      <source
        srcset="/img/about/AboutIMG1x.png 1x, /img/about/AboutIMG2x.png 2x"
        media="(min-width: 1200px)"
      />
      <img class="abotIMG"
        src="/img/about/AboutIMG1x.png"
        srcset="/img/about/AboutIMG2x.png 2x"
        alt="Rivengard"
      />
    </picture>
    <p class="aboutDescription">
      Challenge your tactical mastery in Rivengard – Clash Of Legends! Use the
      terrain to your advantage and command your heroes in thrilling turn-based
      battles. Unlock legendary warriors, combine unique abilities, and rise
      through the ranks of glory!
    </p>
  </div>
</section>
