<section id="battle">
    <div class="container">
        <h2 class="battle-title">Ready for Battle?</h2>
        <p class="battle-text">Download Rivengard - Clash Of Legends now and rise as the master of strategy!
        </p>
        <div class="battle-img-container">
            <div class="battle-blue">
                <picture>
                    <source srcset="img/battle/girl1x1200.png 1x, img/battle/girl2x1200.png 2x"
                        media="(min-width: 1200px)">
                    <img src="img/battle/girl1x320.png" srcset="img/battle/girl2x320.png 2x" alt="Hero with arrow"
                        width="112.85" class="battle-girl">
                </picture>
            </div>
            <div class="battle-vs">
                <img src="img/battle/s2x320.png" width="16" class="battle-s-position">
                <picture>
                    <source srcset="img/battle/line2x1200.png" media="(min-width: 1200px)">
                    <img src="img/battle/line2x320.png" width="96" class="battle-l-position">
                </picture>
                <img src="img/battle/blik2x320.png" width="54" class="battle-b-position">
                <img src="img/battle/v2x320.png" width="33" class="battle-v-position">
            </div>
            <div class="battle-pink">
                <picture>
                    <source srcset="img/battle/boy1x1200.png 1x, img/battle/boy2x1200.png 2x"
                        media="(min-width: 1200px)">
                    <img src="img/battle/boy1x320.png" srcset="img/battle/boy2x320.png 2x" alt="Hero and drago"
                        width="155.22" class="battle-boy">
                </picture>
            </div>
        </div>
        <a class="battle-link" href="https://play.google.com/store/apps/details?id=com.king.hero.rpg.tactics&pli=1"
            target="_blank" rel="noopener noreferrer">
            <picture>
                <source srcset="img/battle/play1x1200.png 1x, img/battle/play2x1200.png 2x" media="(min-width: 1200px)">
                <img src="img/battle/play1x320.png" srcset="img/battle/play2x320.png 2x" alt="Google Play" width="212"
                    class="battle-link-img">
            </picture>

        </a>
    </div>
</section>