<section id="features">
    <div class="container features-wrapper">
        <h2 class="features-title">Featuers</h2>
        <ul class="featuresList">

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">Tactical Combat </span><br />
                    Outsmart your enemies <br class="BR">with careful positioning and clever strategies.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/swordsDesktop1x.jpg 1x, /img/featuers/desktop/swordsDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/swords1x.jpg"
                        srcset="/img/featuers/swords1x.jpg 1x, /img/featuers/swords2x.jpg 2x" alt="swords">
                </picture>
            </li>

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">Dynamic Terrain  </span><br>
                    Battle across varied maps where environment affects gameplay.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/mapDesktop1x.jpg 1x, /img/featuers/desktop//mapDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/map1x.jpg"
                        srcset="/img/featuers/map1x.jpg 1x, /img/featuers/map2x.jpg 2x" alt="map">
                </picture>
            </li>

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">Legendary Heroes </span><br>
                    Build your team with uniquely skilled champions.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/womenDesktop1x.jpg 1x, /img/featuers/desktop/womenDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/women1x.jpg"
                        srcset="/img/featuers/women1x.jpg 1x, /img/featuers/women2x.jpg 2x" alt="women">
                </picture>
            </li>

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">PvP and PvE </span><br>
                    Climb the leaderboard or master the story campaign.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/skullDesktop1x.jpg 1x, /img/featuers/desktop/skullDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/skull1x.jpg 1x,"
                        srcset="/img/featuers/skull1x.jpg 1x, /img/featuers/skull2x.jpg 2x" alt="skull">
                </picture>
            </li>

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">Guilds & Events </span><br>
                    Join forces with others and fight in weekly events.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/trophyDesktop1x.jpg 1x, /img/featuers/desktop/trophyDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/trophey1x.jpg"
                        srcset="/img/featuers/trophey1x.jpg 1x, /img/featuers/trophey2x.jpg 2x" alt="trophey">
                </picture>
            </li>

            <li class="featuresItems">
                <p class="featuresText"><span class="spanTitle">Stunning Visuals </span><br>
                    High-fidelity 3D graphics and hand-crafted animations.</p>
                <picture>
                    <source
                        srcset="/img/featuers/desktop/fireballDesktop1x.jpg 1x, /img/featuers/desktop/fireballDesktop2x.jpg 2x"
                        media="(min-width: 1200px)">
                    <img class="features-IMG" src="/img/featuers/fireball1x.jpg"
                        srcset="/img/featuers/fireball1x.jpg 1x, /img/featuers/fireball2x.jpg 2x" alt="fireball">
                </picture>
            </li>

        </ul>
    </div>
</section>