<section>
    <div class="container features-wrapper">
        <h2 class="features-title">FEATURES</h2>
<ul class="featuresList">
    <li class="featuresItems"><p class="featuresText">Tactical Combat <br/>
Outsmart your enemies <br>with careful positioning and clever strategies.</p><img class="features-IMG" src="/img/featuers/swords1x.jpg" srcset="/img/featuers/swords1x.jpg 1x, /img/featuers/swords2x.jpg 2x" alt="swords"></li>
    <li class="featuresItems"><p class="featuresText">Dynamic Terrain <br>
Battle across varied maps where environment affects gameplay.</p> <img class="features-IMG" src="/img/featuers/map1x.jpg" srcset="/img/featuers/map1x.jpg 1x, /img/featuers/map2x.jpg 2x" alt="map"></li>
    <li class="featuresItems"><p class="featuresText">Legendary Heroes <br>
Build your team with uniquely skilled champions.</p> <img class="features-IMG" src="/img/featuers/women1x.jpg" srcset="/img/featuers/women1x.jpg 1x, /img/featuers/women2x.jpg 2x" alt="women"></li>
    <li class="featuresItems"><p class="featuresText">PvP and PvE <br>
Climb the leaderboard or master the story campaign.</p> <img class="features-IMG" src="/img/featuers/skull1x.jpg 1x," srcset="/img/featuers/skull1x.jpg 1x, /img/featuers/skull2x.jpg 2x" alt="skull"></li>
    <li class="featuresItems"><p class="featuresText">Guilds & Events <br>
Join forces with others and fight in weekly events.</p> <img class="features-IMG" src="/img/featuers/trophey1x.jpg" srcset="/img/featuers/trophey1x.jpg 1x, /img/featuers/trophey2x.jpg 2x" alt="trophey"></li>
    <li class="featuresItems"><p class="featuresText">Stunning Visuals <br>
High-fidelity 3D graphics and hand-crafted animations.</p> <img class="features-IMG" src="/img/featuers/fireball1x.jpg" srcset="/img/featuers/fireball1x.jpg 1x, /img/featuers/fireball2x.jpg 2x" alt="fireball"></li>
</ul>
</div>
</section>