<footer>
    <div class="container footer-wrapper">
        <ul class="footer-list">
            <li class="footer-items"><a target="_blank" href="">Terms & Conditions</a></li>
            <li class="footer-items"><a target="_blank" href="">Privacy Policy</a></li>
            <li class="footer-items"><a target="_blank" href="">Cookie Policy</a></li>
            <li class="footer-items"> All rights reserved fbgelazewj.xyz</li>
            <li class="footer-items">© 2025</li>
        </ul>
    </div>
</footer>