<footer>
    <div class="container footer-wrapper">
        <ul class="footer-list">
            <li class="footer-items"><a href="./terms.html">Terms & Conditions</a></li>
            <li class="footer-items"><a href="./privacy.html">Privacy Policy</a></li>
            <li class="footer-items"><a href="./cookies.html">Cookie Policy</a></li>
        </ul>
        <p class="footer-items textForDesktop">All rights reserved fbgelazewj.xyz <span class="spanForText">© 2025</span></p>
    </div>
</footer>