<footer>
    <div class="container footer-wrapper">
        <ul class="footer-list">
            <li class="footer-items"><a href="../terms.html">Terms & Conditions</a></li>
            <li class="footer-items"><a  href="../privacy.html">Privacy Policy</a></li>
            <li class="footer-items"><a  href="../cookies.html">Cookie Policy</a></li>
            <li class="footer-items"> All rights reserved fbgelazewj.xyz</li>
            <li class="footer-items">© 2025</li>
        </ul>
        <p class="textForDesktop">All rights reserved fbgelazewj.xyz © 2025</p>
    </div>
</footer>