<header>
  <div id="falling-stars"></div>
  <div class="container header-wrapper">

    <a href="./index.html">
      <picture>
        <source srcset="/img/header/logoDesktop1x.png 1x, /img/header/logoDesktop2x.png 2x" media="(min-width: 1200px)">
        <img src="/img/header/Logo1x.png" srcset="/img/header/Logo2x.png 2x" alt="Logo" width="89.17" height="38"
          class="header-logo">
      </picture>

    </a>
    <nav class="headerNav">
      <ul class="headerList">
        <li class="headerItems"><a href="#about">About the game</a></li>
        <li class="headerItems"><a href="#features">Features</a></li>
        <li class="headerItems"><a href="#HTP">How to play</a></li>
        <li class="headerItems"><a href="#trailer">Preview</a></li>
        <li class="headerItems"><a href="#reviwes">User reviews</a></li>
        <li class="headerItems"><a href="#faq">FAQ</a></li>
      </ul>
    </nav>
    <button id="openModal" class="btnBurger"><svg width="31" height="21">
        <use href="/img/sprite.svg#icon-burger"></use>
      </svg></button>
    <div id="myModal" class="modal">
      <div class="modalContent">
        <div class="wrapperInBurger">
          <button class="close">
            <svg class="svgClose" height="22" width="22">
              <use href="/img/sprite.svg#icon-close"></use>
            </svg>
          </button>
          <nav>
            <ul class="listModal">
              <li class="itemsModal"><a href="#about" class="modalLink">About the game</a></li>
              <li class="itemsModal"><a href="#features" class="modalLink">Features</a></li>
              <li class="itemsModal"><a href="#HTP" class="modalLink">How to play</a></li>
              <li class="itemsModal"><a href="#trailer" class="modalLink">Preview</a></li>
              <li class="itemsModal"><a href="#reviwes" class="modalLink">User reviews</a></li>
              <li class="itemsModal"><a href="#faq" class="modalLink">FAQ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div id="cookieModal" class="cookieModal">
      <div class="cookieContent">
        <button class="cookieClose">
          <svg id="svgClose" class="svgClose" width="16" height="20">
            <use href="/img/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="cookiesPolicy">Cookies Policy</h2>
        <p class="cookiesText">We use cookies to improve your experience on our website. </p>
        <p class="cookiesText">By browsing this website, you agree to our use of cookies.</p>
        <div class="wrapperForBtn-cookies">
          <button id="acceptCookies">ACCEPT COOKIES</button>
          <button id="declineCookies">DECLINE COOKIES </button>
        </div>
      </div>
    </div>
  </div>
</header>