<section class="hero">
  <div class="container hero-wrapper">
    <div>
      <h1 class="hero-title">Command the Legends. Conquerthe Battlefield.</h1>
      <p class="hero-dscr">
        Choose your heroes, master <span class="little-the">the</span> terrain, and outwit your enemies in
        turn-based tactical combat!
      </p>
      <a target="_blank" href="https://play.google.com/store/apps/details?id=com.king.hero.rpg.tactics&pli=1" >
        <img src="/img/hero/googlePlay1x.png 1x" srcset="/img/hero/googlePlay2x.png 2x" class="wrapper-GooglePlay" alt="">
      </a>
      <!-- <div class="wrapper-GooglePlay">
      <a href="" >
        <img src="" alt="GooglePlay-btn" />
        <span class="span-in-GooglePlay">
          <span>GET IT ON</span>
          <strong>Google Play</strong>
        </span>
      </a>
      </div> -->
    </div>
  </div>
</section>
