<section>
    <div class="container HTP-wrapper">
<h2 class="HTP-title">HOW TO PLAY</h2>
<ul class="HTP-list">
    <li class="HTP-items">
        1
        <p class="HTP-text">Choose your starting heroes and enter your first battle.</p>
    </li>
    <li class="HTP-items">2
        <p class="HTP-text">Position them wisely and use the environment to your advantage.</p>
    </li>
    <li class="HTP-items">3
        <p class="HTP-text">Win battles to <br>unlock new heroes and gear.</p>
    </li>
    <li class="HTP-items">4
        <p class="HTP-text">Upgrade your <br>roster and unlock special abilities.</p>
    </li>
        <li class="HTP-items">5
        <p class="HTP-text">Participate in events, guild missions, and seasonal challenges.</p>
    </li>
</ul>
</div>
</section>

<!-- <svg class="svg-cloud" width="145" height="92">
        <use href="img/sprite.svg#icon-cloud"></use>
    </svg> -->