<section id="ingame">
    <div class="container">
        <h2>In-Game Preview</h2>
        <div class="ingame-container">
            <div class="arrow-left">
                <svg width="24" height="24">
                    <use href="img/sprite.svg#arrow-left"></use>
                </svg>
            </div>
            <div class="swiper swiper-ingame"></div>
            <div class="arrow-left"><svg width="24" height="24">
                    <use href="../img/sprite.svg#arrow-right"></use>
                </svg></div>
        </div>

    </div>
</section>