<section id="reviwes">
    <div class="container">
        <h2 class="reviwes-title">What Players Say</h2>
        <ul class="reviwes-items">
            <li class="rewivse-item" data-review="item">
                <div class="reviwes-item-style">
                    <picture>
                        <source srcset="img/reviwes/tactics1x1200.png 1x, img/reviwes/tactics2x1200.png 2x"
                            media="(min-width: 1200px)">
                        <img src="img/reviwes/tactics1x320.png" srcset="img/reviwes/tactics2x320.png 2x"
                            alt="TacticsMaster21" clsss="reviwes-img">
                    </picture>
                    <div>
                        <p class="reviwes-text reviwes-mr-top">TacticsMaster21</p>
                        <p class="reviwes-text">“Finally, a tactical game that rewards thinking. Absolutely hooked!”</p>
                    </div>
                </div>
                <ul class="reviwes-stars-container">
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                </ul>
            </li>
            <li class="rewivse-item" data-review="item">
                <div class="reviwes-item-style">
                    <picture>
                        <source srcset="img/reviwes/heroic1x1200.png 1x, img/reviwes/heroic2x1200.png 2x "
                            media="(min-width: 1200px)">
                        <img src="img/reviwes/heroic1x320.png" srcset="img/reviwes/heroic2x320.png 2x" alt="HeroicSage">
                    </picture>
                    <div>
                        <p class="reviwes-text reviwes-mr-top">HeroicSage</p>
                        <p class="reviwes-text">“Amazing visuals and deep combat mechanics. A real gem.”</p>
                    </div>
                </div>
                <ul class="reviwes-stars-container">
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                </ul>
            </li>
            <li class="rewivse-item" data-review="item">
                <div class="reviwes-item-style">
                    <picture>
                        <source srcset="img/reviwes/grid1x1200.png 1x, img/reviwes/grid2x1200.png 2x"
                            media="(min-width: 1200px)">
                        <img src="img/reviwes/grid1x320.png" srcset="img/reviwes/grid2x320.png 2x" alt="Gridwalker">
                    </picture>
                    <div>
                        <p class="reviwes-text reviwes-mr-top">Gridwalker</p>
                        <p class="reviwes-text">“Each match feels like a chess game with spells. Brilliant design.”</p>
                    </div>
                </div>
                <ul class="reviwes-stars-container">
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                </ul>
            </li>
            <li class="rewivse-item" data-review="item">
                <div class="reviwes-item-style">
                    <picture>
                        <source srcset="img/reviwes/elven1x1200.png 1x, img/reviwes/elven2x1200.png 2x"
                            media="(min-width: 1200px)">
                        <img src="img/reviwes/elven1x1200.png" srcset="img/reviwes/elven2x1200.png 2x" alt="Gridwalker">
                    </picture>
                    <div>
                        <p class="reviwes-text reviwes-mr-top">ElvenWarden</p>
                        <p class="reviwes-text-mini">“Some battles are tough, but the rewards feel earned. Love it.”</p>
                    </div>

                </div>
                <ul class="reviwes-stars-container">
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                </ul>
            </li>
            <li class="rewivse-item" data-review="item">
                <div class="reviwes-item-style">
                    <picture>
                        <source srcset="img/reviwes/sunbl1x1200.png 1x, img/reviwes/sunbl2x1200.png 2x"
                            media="(min-width: 1200px)">
                        <img src="img/reviwes/sunbl1x320.png" srcset="img/reviwes/sunbl2x320.png 2x" alt="Sunblade99">
                    </picture>
                    <div>
                        <p class="reviwes-text reviwes-mr-top">Sunblade99</p>
                        <p class="reviwes-text-mini">“This game brought back my love for turn-based RPGs.”</p>
                    </div>
                </div>
                <ul class="reviwes-stars-container">
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                    <li><img src="img/reviwes/star.png" width="10" height="10"></li>
                </ul>
            </li>
        </ul>
    </div>
</section>