<section>
  <div class="container watch-wrapper">
    <h2 class="watch-title">Watch the trailer</h2>
    <div class="wrapperForTrailerImg" id="videoWrapper">
      <picture id="videoPreviewWrapper">
        <source
          srcset="/img/watch/trailer1x.jpg 1x, /img/watch/trailer2x.jpg 2x"
          media="(min-width: 1200px)"
        />
        <img
          id="videoPreview"
          src="/img/watch/trailer1x.png"
          srcset="/img/watch/trailer1x.png 1x, /img/watch/trailer2x.png 2x"
          alt=""
        />
      </picture>
    </div>
    <p class="watchText">
      Discover the strategic depth and beauty of Rivengard – where every
      decision matters.
    </p>
  </div>
</section>
