<section id="trailer">
  <div class="container watch-wrapper">
    <h2 class="watch-title">Watch the trailer</h2>
    <div class="wrapperForDesktop">
      <div class="wrapperForTrailerImg" id="videoWrapper">
        <picture id="videoPreviewWrapper">
          <source srcset="/img/watch/trailerDesktop1x.png 1x, /img/watch/trailerDesktop2x.png 2x"
            media="(min-width: 1200px)" />
          <img id="videoPreview" src="/img/watch/trailer1x.png" srcset="/img/watch/trailer2x.png 2x" alt="Trailer" />
        </picture>
      </div>
      <p class="watchText">
        Discover the strategic depth and beauty of Rivengard - where every
        decision matters.
      </p>
    </div>
    <div id="videoModal">
      <div id="videoBackdrop">
        <div class="divStyle">
          <iframe id="videoIframe" width="100%" height="450" src="" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>

  </div>
</section>