.aboutTheGame-wrapper {
    display: flex;
    flex-direction: column;
    padding: 80px 17px 0 17px;
    justify-content: center;
    align-items: center;
}

.about-Title {
    font-family: 'Cinzel', serif;
    display: flex;
    margin-bottom: 36px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}

.abotIMG {
    margin-bottom: 14px;
}

.aboutDescription {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: white;
}


// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop
@media screen and (min-width: 1200px) {
    .aboutTheGame-wrapper {
        display: flex;
        flex-direction: column;
        padding: 120px 37px 0 37px;
        justify-content: center;
        align-items: center;
        }

    .abotIMG {
        width: 551px;
        height: 339px;
        margin-bottom: 0px;
    }
    .about-Title {
        margin-bottom: 60px;
        font-size: 32px;
    }

    .wrapperDesktop {
        display: flex;
        gap: 24px;
        justify-content: center;
        align-items: center;
    }

    .aboutDescription {
        max-width: 550px;
        font-size: 20px;
    }
}