.aboutTheGame-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 17px;
    justify-content: center;
    align-items: center;
}
.about-Title {
    font-family: 'Cinzel', serif;
    display: flex;
    margin: 80px 0 36px;
font-weight: 700;
    font-size: 20px;
        color: white;
}
.abotIMG {
    margin-bottom: 14px;
}
.aboutDescription {
    font-weight: 400;
        font-size: 14px;
        font-family: 'Lora', serif;
        color: white;
}


// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop
@media screen and (min-width: 1200px) {
.about-Title {
        margin: 120px 0 60px;
        font-size: 32px;
}
.wrapperDesktop {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.aboutDescription{ 
    max-width: 550px;
    font-size: 20px;
}

}