.features-title {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
    color: white;
    font-family: 'Cinzel', serif;
}

.features-wrapper {
    padding: 80px 17px 0 17px;
}

 .spanTitle {
     animation: starColorShift 3s linear infinite;
 }
.featuresList {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.featuresItems {
    display: flex;
    gap: 20px;
    align-items: center;
}

.featuresItems:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
}

.features-IMG {
    border-radius: 100px;
}

.featuresText {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    width: 184px;
}


// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop
@media screen and (min-width: 1200px) {
    .features-wrapper{
        padding: 120px 103px 0 103px;
    }
    .features-title {
        font-size: 32px;
        margin-bottom: 60px;
    }
    .BR {
        display: none;
    }
    .spanTitle {
        font-size: 24px;
        animation: starColorShift 3s linear infinite;
    }
    .featuresText {
        font-size: 20px;
        width: 552px;
    }
    .featuresList {
        padding: 31px 103px;
        box-shadow: 1px 2px 8px 6px #f8f8f8;
        background: #214A7D;
        border-radius: 16px;
        gap: 6px
    }
    .fue-text-continer {
        display: flex;
        align-items: center;
        
    }
   
        .featuresItems:nth-child(odd) {
            gap: 38px;
            width: 744px;
        }
    
        .featuresItems:nth-child(even) {
            gap: 73px;
        }
        .featuresItems:not(:last-child) {
            border-bottom: 1px solid #fff;
            padding-bottom: 5px;
        }

}

  @keyframes starColorShift {
      0% {
          color: #ffffff;
          /* білий */
      }

      30% {
          color: #fff59e;
          /* світло-жовтий */
      }

      70% {
          color: #f5df65;
          /* золотий */
      }

      100% {
          color: #ffffff;
          /* назад до білого */
      }
    }