.features-title {
    display: flex;
    justify-content: center;
    margin: 80px 0 36px 0;
    color: white;
    font-family: 'Cinzel', serif;
}

.features-wrapper {
    padding: 0 17px;
}

.featuresList {
    display: flex;
    flex-direction: column;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.featuresItems {
    display: flex;
    gap: 20px;
    align-items: center;
}

.featuresItems:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
}

.features-IMG {
    border-radius: 100px;
}

.featuresText {
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop
@media screen and (min-width: 1200px) {
    .features-title {
        font-size: 32px;
        margin: 100px 0 60px 0
    }

    .BR {
        display: none;
    }

    .spanTitle {
        font-size: 24px;
    }

    .featuresText {
        font-size: 20px;
    }

    .featuresItems {
        gap: 45px;
    }

    .featuresItems:nth-child(even) {
        margin-right: auto;
    }

    .featuresItems:nth-child(odd) {
        margin-left: auto;
    }

    .features-wrapper {
        padding: 0 70px;
    }
}