.hero {
    margin: 0 auto;
    padding: 0 68px 45px 17px;
    background-image: url(../img/hero/bgDesctop1x.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    height: 580px;
}

@media (min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: url(../img/hero/bgDesctop2x.jpg)
    }
}

.hero-title {
    font-family: 'Cinzel', serif;
    padding-top: 76px;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 32px;
    max-width: 230px;
    color: white;
}

.hero-dscr {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
    color: white;
    font-family: 'Cinzel', serif;
}

.little-the {
    font-size: 14px;
    color: white;
}
 .linkForBtn {
     display: block;
     width: 180px;
     height: 52px;
     border-radius: 6px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    
    }
    
    .linkForBtn:hover,
    .linkForBtn:focus {
        box-shadow: 0 0 8px 2px rgba(255, 255, 255, 1);
        transform: scale(1.02);
    }
@media screen and (min-width: 1200px) {
    .hero {
        margin: 0 auto;
        padding: 0 34px 108px 34px;
        background-image: url(../img/hero/bgDesctop1x.jpg);
        max-width: 1200px;
        height: 615px;
    }

    .hero-title {
        padding-top: 156px;
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 48px;
        color: #fff;
        max-width: 743px;
    }

    .hero-dscr {
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 99.39px;
        max-width: 657px;
    }

    .little-the {
        font-size: 14px;
        color: white;
    }

    .wrapper-GooglePlay {
        display: block;
        padding-bottom: 0;
    }

    .pictureWrapper {
        display: block;
    }

}