.HTP-wrapper {
    padding: 0 9px;
}

.HTP-title {
    display: flex;
    justify-content: center;
    margin: 86px 0 34px 0;
    font-family: 'Cinzel', serif;
    color: white;
}

.HTP-list {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.svg-cloud {
    position: absolute;
}

.HTP-items {
    font-family: 'Uncial Antiqua', cursive;
    background-image: url(/img/HowToPlay/cloud.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92px;
    color: white;
}


.HTP-items:last-child {
    position: relative;
    left: 70px;
}

.HTP-text {
    margin-top: 4px;
    font-family: 'Lora', serif;
    max-width: 100px;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #fff;

}

// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop

@media screen and (min-width: 1200px) {
    .HOW TO PLAY {
        font-size: 32px;
        margin: 75px 0 40px 0;
    }

    .HTP-list {
        gap: 25px;
        // grid-template-columns: repeat(3, 1fr)
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .HTP-items {
        background-image: url(/img/HowToPlay/cloudDesktop.png);
        height: auto;
        font-weight: 400;
        font-size: 40px;
        flex: 0 0 calc((100% - 50px) / 3);
        height: 230px;
        padding-top: 30px;
        justify-content: start;
    }

    .HTP-items:last-child {
        position: relative;
        left: 0;
    }

    .HTP-items:nth-child(4) {
        margin-left: auto;
    }

    .HTP-items:nth-child(5) {
        margin-right: auto;
    }

    .HTP-text {
        margin-top: 14px;
        font-size: 20px;
        max-width: 310px;
    }

    .brInHTP {
        display: none;
    }
}