.HTP-wrapper {
    padding: 80px 12px 0 16px;
}

.HTP-title {
    display: flex;
    justify-content: center;
    margin-bottom:  34px;
    font-family: 'Cinzel', serif;
    color: white;
}

.HTP-list {
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.svg-cloud {
    position: absolute;
}

.HTP-items {
    font-family: 'Uncial Antiqua', cursive;
    background-image: url(/img/HowToPlay/cloud.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92px;
    width: 137px;
    color: white;
}


.HTP-items:last-child {
    position: relative;
    left: 70px;
}

.HTP-text {
    margin-top: 4px;
    font-family: 'Lora', serif;
    max-width: 100px;
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: #fff;
    width: 106px;

}

// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop// Desktop

@media screen and (min-width: 1200px) {

    .HTP-wrapper {
            padding: 120px 47px 0 47px;
        }
    .HOW TO PLAY {
        font-size: 32px;
        margin: 75px 0 40px 0;
    }

    .HTP-list {
        gap: 25px;
        // grid-template-columns: repeat(3, 1fr)
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .HTP-items {
        background-image: url(/img/HowToPlay/cloudDesktop.png);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        height: auto;
        font-weight: 400;
        font-size: 40px;
        flex: 0 0 calc((100% - 60px) / 3);
        height: 230px;
        padding-top: 30px;
        justify-content: start;
        width: 349px;
    }

    .HTP-items:last-child {
        position: relative;
        left: 0;
    }

    .HTP-items:nth-child(4) {
        margin-left: auto;
    }

    .HTP-items:nth-child(5) {
        margin-right: auto;
    }

    .HTP-text {
        margin-top: 14px;
        font-size: 20px;
        min-width: 298px;

    }

    .brInHTP {
        display: none;
    }
}
.HTP-items span {
    display: inline-block;
    color: white;
    animation: numberColorCycle 5s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes numberColorCycle {
    0% {
        color: white; 
    }

    10% {
        color: #26b9dd;
    }

    20% {
        color: #9c27b0;
    }

    30% {
        color: #e72d20;
    }

    40% {
        color: #4caf50;
    }

    50% {
        color: #ffd700;
    }

    100% {
        color: white;
    }
}