#ingame {
    padding-top: 65px;
    padding-bottom: 40px;
}
@media screen and (min-width:1200px){
    #ingame {
            padding-top: 60px;
        }
}
.ingame-title {
    font-family: "Cinzel", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-bottom: 36px;
}
@media screen and (min-width:1200px) {
.ingame-title {
        font-size: 32px;
        margin-bottom: 17px;
    }
}

.ingame-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 31px 0 37px;
    width: 320px;
}

@media screen and (min-width:1200px) {
    .ingame-container {
        padding: 0 132px;
        width: 1200px;
    }
}

.swiper-ingame {
    position: relative;
    border-radius: 16px;
    width: 252px;
    height: 457px;
    background: #224a7d;
}
@media screen and (min-width:1200px) {
    .swiper-ingame {
        position: relative;
        border-radius: 16px;
        width: 936px;
        height: 824px;
        background: #224a7d;
        // padding: 50px 0 36px 33px;
    }
}      

.elips-top {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    background: #214a7d; 
    width: 252px;
    height: 50px;
    z-index: 10;
}
.elips-bottum {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 100%;
    background: #214a7d; 
    width: 252px;
    height: 50px;
    z-index: 10;
}
@media screen and (min-width:1200px) {
    .elips-bottum,
    .elips-top{
        width: 936px;
        height: 84px;
    }
}
.revers-icon {
    transform: rotate(180deg);
}
.img-container {
    width: 220px;
    height: 391px;
}

@media screen and (min-width:1200px) {
    .img-container {
            width: 360px;
            height: 721px;
        }
}
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 16px 34px;
}
@media screen and (min-width:1200px) {
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 58.5px 0 36px 33px;
    
    }
}

.swiper-slide img {
    width: 220px;
    height: 391px;
    object-fit: cover;
}
@media screen and (min-width:1200px) {
.swiper-slide img {
    width: 360px;
    height: 721px;
    
    }
   .swiper-slide:not(:first-child) {
       padding-left: 0;
   }
   .swiper-slide:last-child {
       padding-right: 33px;
   }
}
.arrow-left {
    position: absolute;
    top: 239px;
    left: 16px;
    width: 16.32px;
    height: 18.12px;
}

.arrow-right {
    position: absolute;
    top: 229px;
    right: 9px;
    width: 24px;
    height: 24px;

}

@media screen and (min-width:1200px) {
.arrow-left {
        top: 394px;
        left: 49px;
        width: 33.5px;
        height: 36.94px;
    }
    .arrow-left svg {
        width: 40px;
        height: 40px;
    }

    .arrow-right { 
        top: 388px;
        right: 55.88px;
        width: 35.5px;
        height: 39.15px;

    }
        .arrow-right svg {
            width: 40px;
            height: 40px;
        }
}
.arrow-left,
.arrow-right {
    opacity: 0.5;
    pointer-events: none;
    filter: grayscale(100%);
    transition: opacity 0.3s, filter 0.3s;
}

.arrow-left:not(.swiper-button-disabled),
.arrow-right:not(.swiper-button-disabled) {
    opacity: 1;
    pointer-events: auto;
    filter: none;
    cursor: pointer;
}