.policy-wrapper {
    padding: 50px 36px 90px 36px;
}

.policyItems {
    font-weight: 700;
    font-size: 20px;
    color: #000;
    font-family: 'Cinzel', serif;

}

.listIsPolicyList {
    margin-top: 20px;
}

.itemsInPolicyList {
    font-weight: 400;
    font-size: 14px;
    color: #000;
    font-family: 'Lora', serif;
}

.itemsInPolicyList:first-child {
    margin-bottom: 10px;
}

.itemsInPolicyList:not(:first-child) {
    margin-left: 18px;
    list-style-type: disc;
}

.itemsInPolicyList:last-child {
    margin-bottom: 20px;
}

.textInList-policy {
    margin: 20px 0;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    font-family: 'Lora', serif;
}

.linkInPolicy-terms.Policy {
    margin-bottom: 20px;
    text-decoration: none;
}

.textInList-policy.Rights {
    margin: 0 0 20px 0;
}

.textInList-policy.Contact {
    margin-bottom: 0;
}

.mailtoTerms.Policy {
    text-decoration: none;
}

//// Desktop// Desktop Desktop// Desktop// Desktop// Desktop// Desktop
@media screen and (min-width:1200px) {
    .policy-wrapper {
        padding: 50px 228px 90px 36px;
    }

    .svgArrow {
        width: 34px;
        height: 32px;
    }

    .linkInTerms {
        font-size: 24px;
    }

    .headOfTerms {
        gap: 46px;
        margin-bottom: 89px;
    }

    .termsTitle {
        font-size: 32px;
    }

    .termsText {
        font-size: 20px;
        margin-bottom: 40px;
    }

    .policyItems {
        font-size: 32px;
    }

    .itemsInPolicyList {
        font-size: 20px;
    }

    .itemsInPolicyList:last-child {
        margin-bottom: 40px;
    }

    .textInList-policy {
        font-size: 20px;
        margin: 20px 0 40px 0;
    }

    .linkInPolicy-terms.Policy {
        font-size: 20px;
    }

    .textInList-policy.Rights {
        margin: 0 0 40px 0;
    }

    .mailtoTerms.Policy {
        font-size: 20px;
    }
}