#videoPreview {
    cursor: pointer;
}
.watch-title {
    margin-top: 85px;
    margin-bottom: 29px;
    font-style: italic;
        font-weight: 500;
        font-size: 20px;
        color: #fff;
        font-family: 'Lora', serif;
}

.watch-wrapper {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.wrapperForTrailerImg {
    margin-bottom: 20px;
}
.watchText {
    display: none;
    font-style: italic;
        font-weight: 600;
        font-size: 32px;
        color: #fff;
                font-family: 'Lora', serif;
}
#videoModal {
    display: none;
}
#videoBackdrop {
        position: fixed;
            inset: 0;
            background: rgba(0, 0, 0, 0.8);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
}

.divStyle {
position: relative;
    width: 80%;
    max-width: 800px
}